<br>
<div class='small-7 small-centered columns'>
  <div class='panel'>
    <h1>To-Do App</h1>
    <p>This is a smart to do list Ruby on Rails Application with Foundation 5 framework</p>
    <%= link_to "Sign Up", "#", class: 'button' %>
  </div>
</div>